/* Color */

$white: #FFFFFF;
$black: #000000;

/* Font-size */

$main-title: 60px;
$second-title: 40px;

/* Font-family */

$main-font: 'Geometria', sans-serif;
$bold-font: 'Geometria-Bold', sans-serif;
$title-font: 'Montserrat', sans-serif;
